.form-control {
    margin: 10px;
    align-content: center;
}

.Jumbotron {
    padding: 10px;
    position: absolute;
    left: 180px;
    width: 500px;
}

h2 {
    margin-left: 10px;
    color: rgb(25, 160, 238);
}